:root{
	--grid-cols: 1;
	--grid-rows: 1;
}

body {
	background-color: rgba(19, 1, 43, 0.171);
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
  }


/* grid */
#container{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 30px;
  padding: 10px;
}

#container:hover {
	box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
  }


.grid-item{
	padding: 1em;
	border: 1px solid #ddd;
	text-align: center;
}

.grid-box {
	display: flex;
	border: 15px solid rgb(95, 93, 93);
	height: 600px;
	width: 600px;
	margin: 40px;
  }

/* Text and github styling*/

.title{
	text-align: center;
}

.githubSvg{
	display: flex;
	justify-content: center;
	margin: 0 0 30px 0;
}

.pixels {
    background-color: #ffffff;
    border-radius: 1px;
}

.active {
    background-color: red !important;
}

/* Button styling */

button {
	min-height: 35px;
	min-width: 160px;
	background-color: #d3d3d3;
	border-color: #d3d3d3;
  }

  button:hover {
	background-color: #9e9898be;
  }

  button,
label,
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 15px;
}